@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
/* shared styles */


:root {
    --primary-color: #F1592B;
    --secondary-color: #064532;
    --bg-color:#FBF1E6;
}
.btn{
    background-color: var(--primary-color);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
}
/* navbar */
.nav-container{
    background-color: var(--bg-color);
    padding:10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar{
  
    display: flex;
    align-items: center;
    list-style-type: none;

}
.navbar li{
    list-style: none;
    
}
.navbar li a{
    text-decoration: none;
    color: var(--secondary-color);
    padding: 8px 12px;
    font-size: 20px;
    font-weight: 600;
}

.logo-container{
    display: flex;
    align-items: center;
}
.logo-container img{
    width: 38%;

}
.text-nav{
    color:var(--secondary-color)
}
/* Shopping Cart Icon Styles */
.cart-icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--secondary-color);
    font-size: 24px;
    padding: 8px;
    text-decoration: none;
}
/* Cart Count Styles */
.cart-count {
    position: absolute;
    top: -6px;
    right: -6px;
    background-color: var(--primary-color);
    color: white;
    border-radius: 50%;
    padding: 2px 4px;
    font-size: 12px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 20px;
    min-height: 20px;
}



section{
 padding-top: 20px;
}
.text-md{
    color:var(--secondary-color);
    text-align: center;

}

/* custome animated line */
.animated-line {
    width: 80px; 
    height: 4px; 
    background-color: var(--primary-color);
    margin: 10px auto; 
    animation: moveLine 2s infinite alternate; 
    border-radius: 3px;
}

@keyframes moveLine {
    0% {
        transform: translateX(0);
    }
    100% {
       transform: translateX(20px);
    }
}

/* search filter */
.search-filter-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin-bottom: 20px;
}
.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0;
  }
#search-input {
    padding: 6px;
    width: 250px;
    border: 2px solid var(--primary-color);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    outline: none;
    font-size: 16px;
  }
  
  #search-button {
    background-color: var(--primary-color);
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  #genre-filter {
    padding: 10px;
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    margin-left: 15px;
  }

/* card */ 
#book-container{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    place-items: center;
    gap: 20px;
}
.no-found-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; /* Optional: ensure it's tall enough to be visible */
}
.no-found-container img{
    width: 50%;
}
.no-books{
    color: var(--secondary-color);
    text-align: center;
}
.card{
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 350px;
    transition: transform 0.2s box-shadow 0.4s ease;

}
.card:hover{
    transform: translateY(-5px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.card-content{
    padding: 15px;
}
.card-image{
    width: 100%;
    height: 250px;
  
}
.title-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}
.card-title{
    color: var(--secondary-color);
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 10px;
}
.authors-name, .genre, .id{
    margin-bottom: 4px;
    font-weight: 500;
    color: var(--secondary-color);
}
.love-icon.filled {
    color: red;
}
.btn-container{
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

/* loading spinner */
.spinner-container{
    display: flex;
    justify-content: center;
    align-items: center;
  }
.spinner {
    width: 50px;
    height: 50px;
    border: 8px solid #e0e0e0; 
    border-top: 8px solid var(--secondary-color); 
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin-top:10px;
}

/* Keyframes to make the spinner rotate */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.hidden{
    display: none;
}

.pagination-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0px;
}
#prev-button, #next-button{
    margin: 0 10px;
}
/* responsive  with media query*/

@media screen and (max-width: 992px) {
    #book-container{
        grid-template-columns: repeat(2,1fr);
    }
    .search-filter-container{
        flex-direction: column;
    }

}
@media screen and (max-width: 768px) {
    #book-container{
        grid-template-columns: 1fr;
    }
    .text-nav{
     display: none;
    }
}